body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: bolder;
}

h5 {
    font-size: 1.15rem;
}

p {
    font-size: .9rem;
}

/* Navbar icon hover */

.icon {
    display: inline-block;
    background-size: cover;
}
.icon-person:hover,
.icon-person:focus {
    filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
}

.log-in img,
.sign-up img {
    position: relative;
    top: -4px;
}

.carousel .col-md-3 {
    padding: 1em;
    text-align: center;
}

.products-section .card .btn {
    padding: .315rem .15rem;
}

.header {
    background: lightblue;
}

section {
    margin-bottom: 1em;
}

.nav-items {
    display: flex;
}

.logo {
    display: flex;
}

.user-nav {
    display: none;
}

.flex-wrapper {
    display: flex;
}

.logo img {
    height: 100%;
    margin-right: 6px;
    position: relative;
    top: -3px;
}

.logo h1 {
    line-height: 1;
    padding-right: .5em;
}

h2 {
    text-align: center;
}

/* .carousel {
    background: lightcoral;
} */

/* .products-section {
    /* position: relative;
    top: -2em; */
    /* margin: 0; */
/* } */ 

.add-container {
    --bs-gutter-x: 0;
}

.container-lg {


}


/* .basket {
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-top: .6em;
} */

.basket img {
    padding: 0;
    padding-bottom: 0;
    width: 40px;
    height: auto;
    cursor: pointer;
    /* position: relative;
    top: 0px; */
}

.horizontal-add {
    display: block;
    background-image: url(img/squares-hor.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 8em;
}

.vertical-add {
    display: none;
    background-image: url(img/squares-vert.jpg);
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}

.carousel-container {
    padding: 0;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-desktop {
    display: none;
}

.section-title {
    padding: 1em;
}

.main {
    border: 2px solid lightblue;
}

.products-section .card {
    text-align: center;
    padding: .5em;
    margin-bottom: 1.3em;
    /* max-width: 12em; */
}

.products-section .card-body {
    padding: 0;
}

/* .card-title {
    text-align: center;
} */

.products-section .card img {
    /* width: 30%; */
    /* margin-left: auto;
    margin-right: auto; */
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
}

.products-section .card a {
    text-decoration: none;
    color: darkslategray;
}

/* .card p {
    margin-bottom: 0;
} */

.footer {
    background: darkseagreen;
}

.footer .card {
    text-align: left;
}

.footer-content {
    border: 2px solid slategray;
}

.container-fluid {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    color: #000;
}

/* .container-fluid span {
    position: relative; 
    top: 4px;
    margin-left: 4px;
    height: 4px;
} */

.container-fluid p {
    margin-bottom: 0;
    padding-right: 8px;
    font-size: 14px;
}

.log-in,
.sign-up {
    position: relative;
    top: 50%;
    /* height: min-content; */
    display: block;
    flex-basis: 50%;
}

ul li {
    vertical-align: middle;
    margin: 0;
}

.mobile-user-nav {
    display: inline-block;
}

.mobile-user-nav img {
    display: inline-block;
    position: relative;
    top: -4px;
}

.mobile-basket-icon {
    display: block;
    text-align: center;
    font-size: 14px;
    padding-top: .5em;
}

.mobile-basket-icon img {
    height: 24px;
}

.mobile-basket-icon p {
    margin-bottom: 0;
}

.mobile-basket-icon a {
    text-decoration: none;
    color: #9ea6ac;
}

.mobile-basket-icon a:hover {
    color: #d3d6d9;
}

.desktop-user-nav {
    display: none;
}

.carousel-description {
    position: absolute;
    bottom: 0;
}

@media only screen and (min-width: 768px) {
    .horizontal-add {
        display: none;
    }

    .carousel-description {
        position: static;
    }

    .carousel-desktop {
        display: block;
    }

    .carousel-mobile {
        display: none;
    }

    .vertical-add {
        display: block;
    }

    .user-nav {
        display: flex;
    }
    .carousel .col-md-3 {
        text-align: left;
    }

    /* .log-in,
    .sign-up {
        display: none;
    } */
}

@media only screen and (min-width: 992px) {
    .mobile-user-nav {
        display: none;
    }
    .carousel .col-md-3 {
        border-right: 2px solid #ccc;
    }
    .desktop-user-nav {
        display: flex;
        text-align: center;
        font-size: 14px;
        position: relative;
        top: 10px;
    }
    .desktop-user-nav a {
        text-decoration: none;
        color: #9ea6ac;
    }
    .desktop-user-nav a:hover {
        text-decoration: none;
        color: #d3d6d9;
    }
    .mobile-basket-icon {
        display: none;
    }
}

@media only screen and (min-width: 576px) {
    .products-section .card .btn {
        padding: .375rem .35rem;
        font-size: .95rem;
    }
    .products-section .card {
        padding: .9em;
    }
    .mobile-basket-icon {
        padding-top: .8em;
    }
}