body {
    font-family: 'Roboto', sans-serif;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-weight: bolder;
}

h5 {
    font-size: 1.15rem;
}

p {
    font-size: .9rem;
}

/* Navbar */

.navbar-brand {
    margin-right: 0;
}

.logo {
    display: flex;
}

.logo h1 {
    line-height: 1;
    padding-right: .5em;
}

.logo img {
    height: 100%;
    margin-right: 6px;
    position: relative;
    top: -3px;
}

.mobile-user-nav {
    display: inline-block;
}

.desktop-user-nav {
    display: none;
}

.mobile-user-nav img {
    display: inline-block;
    position: relative;
    top: -4px;
}

.nav-icon {
    display: inline-block;
    background-size: cover;
    cursor: pointer;
}

.nav-icon:hover,
.nav-icon:focus {
    filter: brightness(150%) contrast(97%);
}

.flex-wrapper {
    display: flex;
}

.mobile-basket-icon {
    display: block;
    text-align: center;
    font-size: 14px;
    padding-top: .5em;
}

.mobile-basket-icon img {
    height: 24px;
}

.mobile-basket-icon p {
    margin-bottom: 0;
}

.mobile-basket-icon a {
    text-decoration: none;
    color: #9ea6ac;
}

.mobile-basket-icon a:hover {
    color: #d3d6d9;
}

/* Carousel */

.carousel-container {
    padding: 0;
}

.carousel .col-md-3 {
    padding: 1em;
    text-align: center;
}

.carousel-description {
    position: absolute;
    bottom: 0;
}

.carousel img {
    width: 100%;
    height: auto;
}

.carousel-desktop {
    display: none;
}

/* Products */

.add-container {
    --bs-gutter-x: 0;
}

.horizontal-add {
    display: block;
    background-image: url(img/squares-hor.jpg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: cover;
    height: 8em;
}

h2 {
    text-align: center;
}

.section-title {
    padding: 1em;
}

.products-section .card {
    text-align: center;
    padding: .5em;
    margin-bottom: 1.3em;
}

.products-section .card a {
    text-decoration: none;
    color: darkslategray;
}

.products-section .card img {
    padding: 1em;
    padding-bottom: 0;
    padding-top: 0;
}

.products-section .card-body {
    padding: 0;
}

.products-section .card .btn {
    padding: .315rem .15rem;
}

.vertical-add {
    display: none;
}

/* Footer */

.footer {
    margin-top: 1em;
    padding: 3em 2em;
}

.footer hr {
    height: 3px;
    margin: 1.5rem 0;
}

.footer a {
    text-decoration: none;
}

.footer-content {
    border-radius: 0;
    background: transparent;
    color: #9ea6ac;
}

.footer-top-section a {
    text-decoration: none;
}

.footer-icon {
    filter: invert(72%) sepia(8%) saturate(256%) hue-rotate(163deg) brightness(90%) contrast(91%);
}

.footer-icon:hover,
.footer-icon:focus {
    filter: invert(83%) sepia(4%) saturate(215%) hue-rotate(174deg) brightness(111%) contrast(77%);
}

.footer img {
    margin-right: 1em;
}

.footer-bottom-section h5 {
    font-size: 1.5em;
    color: #fff;
}

.footer .button-container {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 1em;
    margin-top: -6px;
}

/* Desktop version */

@media only screen and (min-width: 576px) {
    .navbar-brand {
        margin-right: 1em;
    }
    .mobile-basket-icon {
        padding-top: .8em;
    }
    .products-section .card {
        padding: .9em;
    }
    .products-section .card .btn {
        padding: .375rem .35rem;
        font-size: .95rem;
    }
    .footer-bottom-section {
        padding-right: 3em;
        padding-left: 3em;
    }
}

@media only screen and (min-width: 768px) {
    .carousel-mobile {
        display: none;
    }
    .carousel-desktop {
        display: block;
    }
    .products {
        margin-top: 1em;
    }
    .carousel,
    .products {
        -webkit-box-shadow: 4px 4px 6px -1px rgba(154,154,154,0.8); 
        box-shadow: 4px 4px 6px -1px rgba(154,154,154,0.8);
    }
    .carousel .col-md-3 {
        text-align: left;
    }
    .carousel-description {
        position: static;
    }
    .horizontal-add {
        display: none;
    }
    .vertical-add {
        display: block;
        background-image: url(img/squares-vert.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (min-width: 992px) {
    .mobile-user-nav {
        display: none;
    }
    .desktop-user-nav {
        display: flex;
        text-align: center;
        font-size: 14px;
        position: relative;
        top: 10px;
    }
    .desktop-user-nav a {
        text-decoration: none;
        color: #9ea6ac;
    }
    .desktop-user-nav a:hover {
        text-decoration: none;
        color: #d3d6d9;
    }
    .mobile-basket-icon {
        display: none;
    }
}

/* Subpage My account */

.subpage-main {
    padding: 0;
}

.subpage-title {
    padding-top: 1em;
    padding-bottom: 0;
}

.subpage-section {
    -webkit-box-shadow: 4px 4px 6px -1px rgba(154,154,154,0.8); 
    box-shadow: 4px 4px 6px -1px rgba(154,154,154,0.8);
    margin-bottom: 2em;
}

.subpage-main h3 {
    font-family: 'Montserrat', sans-serif;
    padding-left: 1em;
    margin: 1em 0;
    padding-top: .5em;
}

.subpage-main h3:first-child {
    margin-top: 0;
    padding-top: .5em;
}

.custom-card {
    max-width: 180px;
}

.custom-card .card,
.custom-card .card img {
    padding: 0;
}

.custom-card .card-body h5 {
    margin: .5em 0 0 0;
}

.custom-card .card-body p,
.custom-card button {
    margin: 0;
}

.custom-card .card-body p:last-child {
    margin: 0 0 .5em 0;
}

.delivery {
    border-radius: 4px;
    transform: scale(1.02);
    position: relative;
    top: -1px;
    padding-top: .5em;
}

.delivery p {
    margin-bottom: .3em;
}

address,
.details {
    padding: 0 3em;
    padding-bottom: 2em;
}

address a,
.details a {
    text-decoration: none;
    color: darkslategray;
    font-size: .8rem;
}

address a:hover,
.details a:hover,
.delivery a:hover {
    color: lightblue;
}

.subpage-products-section {
    padding: 0 1em;
}

@media only screen and (min-width: 576px) {
    .subpage-products-section {
        padding: 0 3em;
    }
}

/* Subpage Form */

.contact-main {
    background: rgb(221, 226, 228);
    padding-bottom: 4em;
}

.contact-form {
    padding: 0 1em;
}

.custom-text-area,
.custom-input {
    border: none;
    /* border: 3px solid #000; */
    border-radius: 7px;
}

.custom-input {
    margin-bottom: -9px;
}

.custom-text-area {
    margin-bottom: 2em;
}

.custom-contact-btn {
    width: 9em;
}

.contact-footer {
    margin: 0;
}

@media only screen and (min-width: 768px) {
    .contact-form {
        padding: 0 5em;
    }
}

@media only screen and (min-width: 992px) {
    .contact-form {
        padding: 0 10em;
    }
}

/* Subpage Product */

.product-container {
    width: 80%;
    margin: 2em auto 2.5em auto; 
}

.image-container {
    padding: 1em;
}

.product-image {
    width: 100%;
}

.description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    padding: 1em;
    border-left: 1.5px solid #ccc;
}

.description-container h4,
.custom-table {
    text-align: left;
}

.custom-table a {
    color: #4EA5AC;
    text-decoration: none;
}

.custom-table a:hover {
    color: #87DCE3;
}

.price-container {
    color: tomato;
}

.description-container .bottom-container {
    margin-bottom: 1em;
}

.product-page-button {
    background-color: rgb(105, 200, 231);
}